<a href="https://colab.research.google.com/github/Azz-12/variabel/blob/main/variabel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# VARIABEL
Sesuai dengan namanya, variable adalah sesuatu yang dapat berubah. Variabel ini digunakan untuk merujuk menuju lokasi memori oleh program komputer.
Pada sebagian besar bahasa lain, Anda perlu menetapkan tipe data terhadap suatu variabel. Namun, hal itu tidak perlu dilakukan pada bahasa pemrograman python. Sebagai contoh, jika Anda menulis program dengan menggunakan bahasa C, maka sintaks yang harus anda tulis adalah int num = 39; Dengan Python Anda hanya cukup menuliskan num = 39.

**INTEGER**

Integer adalah angka numerik yang dapat berupa nilai positif, negatif, atau nol tanpa memiliki angka desimal

In [ ]:

num = 39
print(num)
39
type(num)

39

int

Seperti yang telah kita lihat di atas, kita telah mendeklarasikan variabel num dan menetapkan angka 39 sebagai nilai variabel tersebut. Metode type yang sudah built-in pada bahasa pemrograman python dapat digunakan untuk memeriksa jenis suatu variabel.
Ketika kita memeriksa jenis variable num dengan menggunakan metode type, maka kita akan melihat output   <class 'int'>.

**FLOAT**

Float adalah angka numerik sama seperti integer , namun ada sedikit perbedaan, yaitu adanya angka desimal

In [ ]:
num = 39.0
print(num)
39.0
type(num)

39.0

float

Dapat di lihat pada contoh tersebut bahwa kita telah menggunakan angka desimal pada num. Lalu, ketika kita memeriksanya pada bahasa pemrograman Python akan menunjukkan bahwa tipe data tersebut adalah float.


**STRING**

String adalah kumpulan beberapa karakter atau integer. String tersebut direpresentasikan dengan menggunakan tanda quotes (double ataupun single).

In [ ]:
test = "Hallo semua"
print(test )
type(test )

Hallo semua

str

**BOOLEAN**

Boolean adalah operator biner yang hanya memiliki dua nilai output yaitu True atau False.

In [ ]:
anda_robot = False
print(anda_robot)
False
type(anda_robot)

False

bool

Di sini kita telah menetapkan nilai False kepada variable anda_robot. Jenis variabel ini adalah boolean. Kita hanya dapat menetapkan True atau False. Perlu di ingat bahwa T dan F harus berupa huruf kapital atau kita akan mendapatkan pesan error


**NONE TYPE**

In [ ]:
num = None
print(num)
None
type(num)

None

NoneType